<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lidar_studio_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lidar_studio_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LidarsStudio"
        tools:targetApi="31">

        <!-- SplashActivity as the launcher -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare other activities -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".BookAppointmentActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".AddAvailableAppointmentsActivity" />
        <activity android:name=".PriceListActivity" />





    </application>

</manifest>
